:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.linea{
  border: 2px solid #fce329;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 250px;
  height: 250px;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  height: 50px;
  width: 100px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.title{
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title2{
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6cacff;
  background-color: #fce329;
}

.buscador{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  margin-top: 100px;
  display: flex;
  justify-content: space-around ;
}
#libros{
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.mostrar-consulta{
  width: 100%;
  height: 155px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 160px;
}

.input{
  width: 210px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #6f76f3;
  margin-right: 20px;
}

.input::placeholder{
  color: #ffffff;
  padding: 15px;
}

.input[type="text"]{
  padding-left: 30px;
}

.h3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.id {
  color: grey;
  font-weight: 900;
}

.caja{
  width: 500px;
  height: fit-content;
  margin-left: 40px;
}

.mostrar{
  padding: 30px !important;
}

.fav-btn{
  border-radius: 50px;
  height: 50px;
  width: 50px;

}

.fav-btn:hover{
  border: 1px solid #dc2626;
  background-image: url('./public/img/corazon.svg');
  background-repeat: no-repeat;
}
